@font-face { font-family: caslon; src: url('graphics/caslon.otf'); }
@font-face { font-family: caslon-i; src: url('graphics/AtkinsonHyperlegibleNext-LightItalic.ttf'); }

@font-face { font-family: libertine; src: url('graphics/LinLibertine_R.ttf'); }
@font-face { font-family: libertine_italic; src: url('graphics/LinLibertine_RI.ttf'); }
@font-face { font-family: libertine_caps; src: url('graphics/LinLibertine_aS.ttf'); }
@font-face { font-family: libertine_bold; src: url('graphics/LinLibertine_RZ.ttf'); }

@font-face { font-family: texttt; src: url('graphics/texttt.ttf'); }
@font-face { font-family: courier; src: url('graphics/CourierPrime-Regular.ttf'); }

@font-face { font-family: atk; src: url('graphics/AtkinsonHyperlegibleNext-Light.ttf'); }
@font-face { font-family: atk-i; src: url('graphics/AtkinsonHyperlegibleNext-LightItalic.ttf'); }
@font-face { font-family: atk-b; src: url('graphics/AtkinsonHyperlegibleNext-Medium.ttf'); }

:root {
    font-size: 1.1395em;
  }

body {
font-family:atk;
    margin:auto;
    line-height:1.5;
    max-width:34em;
  padding:1.5em;
}

ul {list-style-type:square}

h1,h3 {
    font-family:atk-b;
  font-weight: normal;
}

h3 {
  margin-bottom:0;
}

a {text-decoration: none; color:#3366cc;}
a:hover {text-decoration: underline;}
a:active {color:#ee0000;}

summary {
  list-style: none;           /* removes default arrow in some browsers */
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;              /* removes arrow in Chrome/Safari */
}

summary::marker {
  display: none;              /* removes arrow in Firefox */
}

