:root{
  --background-col: powderblue;
  --text-col: black;
}

.custom {
  list-style: none;
}

.custom li::before {
  content: attr(data-bullet);
  padding-right: 1em;
}

body {
  font-family: sans-serif;
  line-height:1.5;
  
  background-color:var(--background-col);
  color:var(--text-col);
  
  margin:auto;
  max-width:20em;
  padding:2em;
}

h1,h2,h3 {
  font-weight: normal;
  text-align: center;
}

h4 {
  margin-bottom:0;
}

a {color: var(--text-col);}

summary {
  list-style: none;           /* removes default arrow in some browsers */
  cursor: pointer;
}
