:root{
  --background-col: cornflowerblue;
  --text-col: beige;
  scale:1.2;
  transform-origin:top;
}

ul {padding-left:1em}

summary {
  border-bottom: 1px solid;
  cursor: pointer;
  list-style: none; /* optional: remove default triangle if you want custom styling */
}

.custom {
  list-style: none;
}

.custom li::before {
  content: attr(data-bullet);
  padding-right: 1em;
}

body {
  font-family: sans-serif;
  line-height:1.5;
  
  background-color:var(--background-col);
  color:var(--text-col);
  
  margin:auto;
  max-width:19em;
  padding:2em;
}

h2,h5 {
  text-align: center;
}

h3{text-align: right}

h2, h3,h4 {
  margin-bottom:0;
}

h5 {margin-top:0}

a {color: var(--text-col)}

summary {
  list-style: none;           /* removes default arrow in some browsers */
  cursor: pointer;
}
