.content {
  max-width: 1000px;
  margin: auto;
}

@font-face { font-family: Chapaza; src: url('Chapaza.ttf'); } 
@font-face { font-family: Figtree; src: url('Figtree.ttf'); }
      h1 {
         font-family: Chapaza
      }
      h2 {
         font-family: Chapaza
      }
      p {
	font-family: Figtree;
      }

a.file {color:blue;}
a.file:link  {text-decoration: none; color: #0066CC;}
a.file:visited {text-decoration: none; color: #0066CC;}
a.file:hover {text-decoration: underline; color: #0066CC;}
a.file:active {text-decoration: none; color: #0066CC;}

a.person {color:black;}
a.person:link {text-decoration: underline; color: black;}
a.person:visited {text-decoration: underline; color: black;}
a.person:hover {text-decoration: underline; color: #0066CC;}
a.person:active {text-decoration: none; color: #0066CC;}
