@font-face { font-family: head; src: url('graphics/ACaslonPro-Regular.otf'); } 
@font-face { font-family: sans; src: url('graphics/ACaslonPro-Regular.otf'); }
@font-face { font-family: bsans; src: url('graphics/ACaslonPro-Regular.otf'); }

h1 {
font-family: head; 
font-weight:normal;
font-size: 160%;
margin-top: 25px;
margin-bottom:0px;
}

h2 {
font-family: head;
font-weight:normal;
font-size: 1.4em
}

h3 {
font-family: bsans; 
font-weight: normal; 
font-size: 110%;
margin-top: 0px;
margin-bottom: 0px;
}

h4 {
font-family: bsans; 
font-weight: normal; 
font-size: 1.2em; 
font-variant: small-caps;
}

p {
font-family: sans;
line-height: 1.7;
 font-size: 1em; 
 margin-top: 0px;
}

.header {
 padding: 3px;
 background: #282828;
color: #ffffff;
 min-height: 50px;
}
body {
 padding: 0;
 margin: 0;
background: #202020;
color: #ffffff
}
footer {
 padding: 3px;
 background: #000000;
 color: #ffffff;
}

.content {
max-width: 1000px;
margin: auto;
color: #ffffff
}

.box {
background-color: #f8f9fa; 
width: 320px;
min-height: 100px;
overflow: hidden;
border: 1px solid #eaecf0;
padding: 3px;
margin-left: 40px;
margin-bottom: 40px;
margin-top: 16px;
text-align: center; font-size:90%
}

.namebox {background-color: #282828; 
max-width: 1000px;
border: 1px #ffffff; border-style: solid none none none;
padding: 5px
}

a:link {text-decoration: underline; color: #ffffff;}
a:visited {text-decoration: underline; color: #ffffff;}
a:hover {text-decoration: underline; color: #287eff;}
a:active {text-decoration: underline; color: #287eff;}

a.b:link {text-decoration: none; color: #ffffff;}
a.b:visited {text-decoration: none; color: #ffffff;}
a.b:hover {text-decoration: none; color: #ff4d4d;}
a.b:active {text-decoration: none; color: #ff4d4d;}

hr {
border: none;
background-color:#333333;
height:1px;
 margin-bottom: 20px;
}

table {
width: 100%;
}

table.infobox {margin:10px;}

table.resources {padding: 20px;}

th {
text-align: left;
font-family: Frutiger_Bold; 
}

td {
text-align: left;
font-family: Frutiger_Book; 
}

table.resources:td {
padding-top: 5px;
padding-bottom: 5px;
}

table.infobox:td {
border-bottom:1px solid #eaecf0;
}
