:root{
  --background-col: powderblue;
  --text-col: black;
}

ul {padding-left:1em}

.custom {
  list-style: none;
}

.custom li::before {
  content: attr(data-bullet);
  padding-right: 1em;
}

body {
  font-family: sans-serif;
  line-height:1.5;
  
  background-color:var(--background-col);
  color:var(--text-col);
  
  margin:auto;
  max-width:19em;
  padding:2em;
}

h2 {
  text-align: center;
}

h3,h4 {
  margin-bottom:0;
}

a {color: var(--text-col);text-decoration-style:dashed}
a:hover {text-decoration-style:solid}

summary {
  list-style: none;           /* removes default arrow in some browsers */
  cursor: pointer;
}
