@font-face { font-family: caslon; src: url('graphics/caslon.otf'); } 
@font-face { font-family: caslon_italic; src: url('graphics/caslon_italic.ttf'); }

img {
object-fit: cover;
  width: 100%;
}

h1 {
    font-weight:normal ; margin-bottom: 0px; 
}

section {padding:0px}

h2 {
    font-weight:normal;
}

h3 {
font-weight: normal; 
margin-bottom:0;
}

h4 {
font-weight: normal; 
margin:0;
}

body {
 padding: 0;
 margin: 0;
background: #202020;
line-height: 1;
color: #ffffff;
font-family:caslon;
font-weight: normal; 
}

body:not([class*=gin--edit-form]) {
    font-size: 18px;
    line-height: 1.45;
}

@media screen {
    body:not([class*=gin--edit-form]) {
        font-size: 22px;
    }
}

.content {
max-width: 1400px;
margin: auto;
color: #ffffff;
font-family:caslon;
font-weight: normal; 
    padding:20px;
}

a {text-decoration: none; color:inherit;}

a.dashed:link, a.dashed:visited {}
a.dashed:hover {text-decoration: underline; text-decoration-thickness: 1px;  text-underline-offset: .15em;}
a.dashed:active {color: #ff4d4d}

a.pink:link, a.pink:visited {color:#ffffff}
a.pink:hover, a.pink:active {color:#ff4d4d} 

a.red {color:#ff4d4d}

hr {
border: none;
background-color:#333333;
height:1px;
 margin-bottom: 20px;
}

* {
  box-sizing: border-box;
}


/* ---------------------------- */


/* Create two equal columns that floats next to each other */

/* Clear floats after the columns */
.row {
    box-sizing: border-box;
    display: flex
;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
.base__main {
    padding:10px;
    margin: 20px auto;
    max-width: 690px;
}

.col-12 {
    box-sizing: border-box;
    flex: 0 0 calc(100%);
}
