@font-face { font-family: caslon; src: url('graphics/caslon.otf'); } 
@font-face { font-family: caslon_italic; src: url('graphics/caslon_italic.ttf'); }
@font-face { font-family: atkinson; src: url('graphics/AtkinsonHyperlegibleNext-Regular.ttf'); }
@font-face { font-family: libertine; src: url('graphics/LinLibertine_R.ttf'); }

h1 {
    font-weight:normal; 
}

h2 {
    font-weight:normal;
    border-bottom: 1.5px solid #000;
  color: #ff4d4d;
}

h3 {
font-weight: normal; 
}

body {
background: #fffdd0;
font-family:libertine;
  line-height: 1.5;
}

a {text-decoration: none; color:#92a0b1;}
a:hover {text-decoration: underline;}
a:active {text-decoration: none;}

summary {
  list-style: none;           /* removes default arrow in some browsers */
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;              /* removes arrow in Chrome/Safari */
}

summary::marker {
  display: none;              /* removes arrow in Firefox */
}
