@font-face { font-family: caslon; src: url('graphics/caslon.otf'); }

@font-face { font-family: libertine; src: url('graphics/LinLibertine_R.ttf'); }
@font-face { font-family: libertine_italic; src: url('graphics/LinLibertine_RI.ttf'); }
@font-face { font-family: libertine_caps; src: url('graphics/LinLibertine_aS.ttf'); }
@font-face { font-family: libertine_bold; src: url('graphics/LinLibertine_RZ.ttf'); }

@font-face { font-family: texttt; src: url('graphics/texttt.ttf'); }
@font-face { font-family: courier; src: url('graphics/CourierPrime-Regular.ttf'); }

@font-face { font-family: atk; src: url('graphics/AtkinsonHyperlegibleNext-Light.ttf'); }
@font-face { font-family: atk-i; src: url('graphics/AtkinsonHyperlegibleNext-LightItalic.ttf'); }
@font-face { font-family: atk-b; src: url('graphics/AtkinsonHyperlegibleNext-Medium.ttf'); }

 .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  p {
    flex:1;
  }
  img {
    margin-left:1em;
    width: 34%;
  }
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    p {
      order: 2;
    }
    img {
      order: 1;
      width: 100%;
      margin-bottom: 1em;
      margin-left:0;
    }
  }

ul {list-style-type:square}

h1 {
    font-family:atk-b;
  font-weight: normal;
}

h3 {
  font-family: atk-b;
  font-weight: normal;
  margin-bottom:0;
}

h4 {
  margin:0;
    font-weight:normal;
  font-family:atk-i;
} 

body {
  color:#080808;
font-family:caslon;
  line-height: 1.5;
    margin:auto;
    max-width:43.75rem;
  padding:1.5em;
  
}

details {margin:0; padding:0}

summary {
  list-style: none;           /* removes default arrow in some browsers */
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;              /* removes arrow in Chrome/Safari */
}

summary::marker {
  display: none;              /* removes arrow in Firefox */
}
